/* COLORS */
$clr-header: #F7F9FA;
$clr-header-home: #030F27;
$clr-accent: #EF4B4A;
$clr-highlight: #030F27;
$clr-footer: #171A1E;
$clr-copyright: #1E2227;

$txt-light: #B1B5C9;
$txt-dark: #414042;
$txt-normal: #777;
$txt-links: #6D799F;
$txt-header-home: #558CC0;

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

._wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 50px;
}

.home {

    .header__info {
        background-color: $clr-header-home;
        overflow: hidden;
        padding: 0 50px;
        font-size: 1rem;
        
        ._wrapper { 
            .phone, .email {
                .bi {
                    color: $clr-accent;
                    margin-right: 5px;
                }
    
                a {
                    text-decoration: none;
                    color: $txt-header-home;
                }
            }
    
            .phone::after {
                content: "|";
                padding-left: 10px;
            }
    
            .yelp {
                overflow: hidden;
        
                img {
                    object-fit: fill;
                    height: 50px;
                }
            }
        }
    }
}

.header__info {
    background-color: $clr-header;
    overflow: hidden;
    padding: 0 50px;
    font-size: 1rem;
    
    ._container {
        max-width: 1140px;
        margin: 0 auto;
        height: 50px;

        .phone, .email {
            .bi {
                color: $clr-accent;
                margin-right: 5px;
            }

            a {
                text-decoration: none;
                color: $txt-light;
            }
        }

        .phone::after {
            content: "|";
            padding-left: 10px;
        }

        .yelp {
            overflow: hidden;
    
            img {
                object-fit: fill;
                height: 50px;
            }
        }
    }
}

.quote {
    padding: 0 50px;

    ._container {
        max-width: 1140px;
        margin: 0 auto;
        height: 100px;

        img {
            width: 180px;
            height: auto;
        }

        .btn-danger {
            height: 45px;
            width: 180px;
            background-color: $clr-accent;
            line-height: 45px;
            
            
            font-weight: 500;
            font-size: 1rem;
            text-transform: uppercase;
            border-radius: 30px;
            border-color: inherit;
            padding: 0;

            &:hover, &:focus {
                background-color: $clr-highlight;
            }
        }
    }
}

.navbar {
    padding: 0 50px;
    font-size: 1em;
    
    button {
        margin-bottom: 20px;
    }

    ul {
        max-width: 1140px;
        margin: 0 auto;
        //height: 100px;

        li {
            list-style: none;
            height: 100px;

            a {
                text-decoration: none;
                color: $txt-dark;
                font-weight: 500;

                height: 95px;
                line-height: 95px;
                display: inline-block;
                border-bottom: 5px solid $clr-accent;
                border-width: 0;
                position: relative;
                
                &::after {
                    content: "";
                    background-color: $clr-accent;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    height: 5px;
                    width: 0;
                    opacity: 0;
                    transition: all 0.2s ease-out;
                }

                &:hover, &:focus {
                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

._title {
    padding: 0 50px;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    overflow: hidden;

    ._container {
        max-width: 1140px;
        margin: 0 auto;
        height: 150px;
        
        .page__title {
            font-size: 3em;
            color: #fff;            
        }

        .breadcrumb {

            --bs-breadcrumb-divider: '>>';
            color: #fff;
            margin: 0;

            li {
                color: #fff;

                a {
                    text-decoration: none;
                    color: #fff;
                    transition: all 0.3s;

                    &:hover {
                        color: $clr-accent;
                    }
                }
            }

            .breadcrumb-item::before {
                color: #fff;
            }
        }
    }
}

._body {
    padding: 0 50px;
    margin-top: 75px;

    ._container {
        max-width: 1140px;
        margin: 0 auto;

        ._services {
            border: 1px solid $txt-light;
            border-radius: 5px;
            padding: 30px 35px;

            a {
                color: $txt-normal;
                font-size: 1em;
                font-weight: 500;
                position: relative;
                transition: all 0.2s;
                
                &::before {
                    content: ">";
                    position: absolute;
                    left: -5px;
                }

                &:first-child {
                    font-weight: 600;
                    font-size: 1.5em;

                    &::before {
                        display: none;
                    }
                }

                &:hover, &:focus {
                    color: $clr-accent;
                }

                &.active {
                    color: $clr-accent;
                }
            }
        }

        ._text {
            color: $txt-normal;
        }
    }
}

footer {
    margin-top: 75px;
    background-color: $clr-footer;

    .footer__content {
        padding: 80px 50px 30px 50px;
        width: 100%;

        .footer__contact {
            font-size: 1.2em;

            .footer__title {
                margin-top: 12px;
                color: $txt-light;
                font-weight: bold;
                color: #fff;
            }

            .footer__info {
                margin-bottom: 10px;

                .bi {
                    color: $clr-accent;
                    margin-right: 5px;
                }
    
                a, span {
                    text-decoration: none;
                    color: $txt-light;
                }

                a {
                    transition: all 0.2s;

                    &:hover, &:focus {
                        color: $clr-accent;
                    }
                }
            }
        }

        .footer_nav {
            nav {
                a {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.2em;
                    color: $txt-links;
                    margin-bottom: 10px;
                    padding: 0;
                    transition: all 0.2s;

                    &.footer__title {
                        margin-top: 12px;
                        margin-bottom: 16px;
                        color: $txt-light;
                        font-weight: bold;
                        color: #fff;
                    }

                    &:hover, &:focus {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .copyright {
        background-color: $clr-copyright;
        color: #ddd;
        height: 50px;
        width: 100%;
        text-align: center;
    }
}

._contact {
    background-image: url("../img/quote-bg.jpg");
    background-size: cover;
    overflow: hidden;
    padding: 50px;

    form {
        padding: 30px;
        border: 3px solid $clr-accent;
        border-radius: 5px;

        h2 {
            color: #fff;
            margin-bottom: 25px;
            width: 100%;
            text-align: center;
        }

        .col {
            padding: 20px;
        }
    
        .form-control {
            background: transparent;
            color: #fff;
            border: none;
            outline: none;
            border-bottom: 1px solid #fff;
            margin-bottom: 10px;
    
            &::placeholder {
                color: #fff;
            }
        }
    
        .form-select {
            border-color: #fff;
            background-color: $clr-accent;
            color: #fff;
        }

        .btn-danger {
            height: 45px;
            width: 180px;
            background-color: $clr-accent;
            line-height: 45px;
            
            
            font-weight: bold;
            font-size: 1rem;
            text-transform: uppercase;
            border-radius: 30px;
            border: none;
            padding: 0;

            &:hover, &:focus {
                background-color: #fff;
                color: $clr-accent;
            }
        }
    }
}

form {
    .col {
        padding: 20px;
    }

    .form-control {
        background: transparent;
        color: #fff;
        border: none;
        outline: none;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;

        &::placeholder {
            color: #fff;
        }
    }

    .form-select {
        border-color: #fff;
        background-color: $clr-accent;
        color: #fff;
    }
}

@media only screen and (max-width: 576px) {
    ._title {
        
        ._container {

            .page__title {
                font-size: 7.5vw;
            }

            .breadcrumb {
                font-size: 2.5vw;
            }
        }
    }
}